{% extends 'base.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/bootcamp.css' %}">
{% endblock css %}
    
{% block body %}
<h1 style="margin-top: 30px;padding-left: 80px;font-size: 65px;font-family: NeueMachina;color:dodgerblue;" id="para-1">6 months In-House <br>
Bootcamp <br>
programme-Kodr. <br>
</h1> 
<div id="youtube2">
  <iframe width="530" height="305" style="margin-left: 650px;" src="https://www.youtube.com/embed/TjPFZaMe2yw?si=lIsz4pJNi_jJuAoV" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>
<button id="button-1" style="background-color: white;color: black;margin-left: 80px;font-size: 20px;border-radius: 10px;" disabled>Starts On:26 Nov 2024</button>
<button id="button-2" style="background-color: white;color: black;margin-left: 80px;font-size: 20px;border-radius: 10px;" disabled>Placement Assistance
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
<span class="fas fa-check-circle" style="color: #1DA1F2;"></span>
</button> <br>
<h2 style="color:black;margin-left: 100px;"><big><big style="color: dodgerblue;">Price  </big></big> <span style="color: lime;"><big>₹ 59000  </big></span><small><small>[ 50,000 + 18% Gst ]</small></small></h2> <br>
<button id="button-3" style="margin-left: 100px;width: 100px;height: 40px;background-color:green;color: black;filter:contrast(1px);cursor: pointer;" disabled>Seats Are Full</button> <br>
<h3 style="color: white;font-size: 70px;margin-left: 100px;">We Believe in, <br>
    <span style="color: lime;">Consistency.</span> No Shortcuts. 
</h3> <br>
<button id="button-4" style="color: white;background-color: aqua; width: 390px; height: 80px; font-size: 30px;border-radius: 5px;margin-left: 100px;" disabled>MERN Stack ⚡</button> 
<button id="button-5" style="color: white;background-color: aqua; width: 470px; height: 80px; font-size: 30px;border-radius: 5px;margin-left: 100px;" disabled>Data Structures & Algorithms 🗿</button> <br> <br>
<button id="button-6" style="color: white;background-color: aqua; width: 390px; height: 80px; font-size: 30px;border-radius: 5px;margin-left: 100px;" disabled>DBMS-SQL 🤟</button> 
<button id="button-7" style="color: white;background-color: aqua; width: 470px; height: 80px; font-size: 30px;border-radius: 5px;margin-left: 100px;" disabled>CORE CS Subjects ♨️</button> <br> <br>
<button id="button-6" style="color: white;background-color: aqua; width: 390px; height: 80px; font-size: 30px;border-radius: 5px;margin-left: 100px;" disabled>Placement Assistance 💰</button> <br> <br>
<h2 id="para1" style="color: white;font-size: 160px;margin-left: 100px;">Non-Stop <br>
    <span style="color: lime;">5 Hours</span> <br>
Coding <small><small><small><small><small><small>[Everyday]</small></small></small></small></small></small></h2> <h4 style="color: white;font-size: 30px;margin-left: 120px;margin-bottom: 30px;">Monday To Saturday. 11:00 A.M To 4:00 P.M</h4> 
<h1 style="color: white;font-size: 160px;margin-left: 100px;">Dominate <br>
<small><small><small><small style="color: grey;">From Start To Victory.</small></small></small></small></h1> 
<hr style="width: 1150px;">
<details>
    <summary style="color: #f0d20a;font-size: 40px;margin-left: 100px;cursor: pointer;">HTML/CSS</summary>
    <h4 style="color: #f0d20a;font-size: 20px;margin-left: 100px;">HTML Basics <br>
        Semantic HTML <br>
        Forms and Validation <br>
        Multimedia Elements (Audio , Video) <br>
        CSS Fundamentals <br>
        CSS Box Model <br>
        Flexbox <br>
        Grid Layout <br>
        CSS Animations <br>
        Transitions <br>
        Keyframe Animations <br>
        Responsive Design <br>
        Media Queries <br>
        CSS Variables <br>
        CSS Frameworks (TailwindCSS) 
    </h4> 
    </details> <br>
<hr style="width: 1150px;">
<details> 
    <summary style="color: #f0d20a;font-size: 40px;margin-left: 100px;cursor: pointer;">JavaScript</summary>
    <h4 style="color: #f0d20a;font-size: 20px;margin-left: 100px;">Introduction to JS <br>
        Functions (Declarations,Expressions,Arrows) <br>
        Scope (Global,Local,Block) <br>
        Closures <br>
        Callbacks <br>
        Promises <br>
        Async/Await <br>
        Error Handling <br>
        Event Loop <br>
        DOM Manipulation <br>
        Event Handling <br>
        Object-Oriented Programming (OOPS) <br>
        Prototypes <br>
        Inheritance <br>
        `this` Keyword <br>
        ES6 Features (Destructing,Spread operator) <br>
        JSON Handling <br>
        Fetch API
    </h4>
</details> <br>
<hr style="width: 1150px;">
<details> 
    <summary style="color: #f0d20a;font-size: 40px;margin-left: 100px;cursor: pointer;">React JS</summary>
    <h4 style="color: #f0d20a;font-size: 20px;margin-left: 100px;">JSX <br>
        Functional Components <br>
        Class Components<br>
        Props <br>
        State <br>
        useState Hook <br>
        useEffect Hook <br>
        React Router <br>
        Content API <br>
        Redux <br>
        Hooks (useMemo,useCallback,useRef) <br>
        Form Handling <br>
        Two-way Binding <br>
        Higher-order components <br>
        Lazy Loading <br>
        Component Lifecycle 
    </h4>
</details> <br>
<hr style="width: 1150px;">
<details> 
    <summary style="color: #f0d20a;font-size: 40px;margin-left: 100px;cursor: pointer;">Data Structures and Algorithms(DSA)</summary>
    <h4 style="color: #f0d20a;font-size: 20px;margin-left: 100px;">Arrays <br>
        Linked Lists <br>
        Stacks <br>
        Queues <br>
        Hash Tables <br>
        Trees (Binary,BST) <br>
        Graphs (Adjacency List, Adjacency Matrix) <br>
        Sorting Algorithms (Bubble, Insertion, Selection, Merge, Quick) <br>
        Searching Algorithms (Linear, Binary) <br>
        Dynamic Programming (Memoization, Tabulation) <br>
        Greedy Algorithms (Knapsack, Huffman Coding) <br>
        Backtracking <br>
        Recursion <br>
        Time Complexity <br>
        Space Complexity
    </h4>
</details> <br>
<hr style="width: 1150px;">
<details> 
    <summary style="color: #f0d20a;font-size: 40px;margin-left: 100px;cursor: pointer;">Node.JS and Express[Backend]</summary>
    <h4 style="color: #f0d20a;font-size: 20px;margin-left: 100px;">HTTP Server <br>
        File Handling <br>
        Routing in Express <br>
        REST APIs <br>
        Middleware <br>
        Authentication (JWT,OAuth) <br>
        Session Mangement <br>
        Cookies <br>
        Error Handling <br>
        WebSockets (Socket.io)<br>
        File Uploads <br>
        API Rate Limiting <br>
        CORS <br>
        Testing(Mocha,Chai) <br>
        Security(XSS,CSRF,DOS) <br>
        Environment Variables <br>
        Debugging
    </h4>
</details> <br>
<hr style="width: 1150px;">
<details> 
    <summary style="color: #f0d20a;font-size: 40px;margin-left: 100px;cursor: pointer;">Databases</summary>
    <h4 style="color: #f0d20a;font-size: 20px;margin-left: 100px;">MongoDB <br>
        Aggregation in MongoDB<br>
        Indexing <br>
        Relationships in MongoDB<br>
        Redis <br>
        Replication <br>
        Sharding <br>
        MySQL <br>
        Queries <br>
        Joins in MySQL<br>
        Normalization <br>
        ACID Properties <br>
        Transactions <br>
        Stored Procedures & Functions <br>
        Triggers <br>
        Optimization <br>
        Database Design
    </h4>
</details> <br>
<hr style="width: 1150px;">
<details> 
    <summary style="color: #f0d20a;font-size: 40px;margin-left: 100px;cursor: pointer;">Git/GitHub</summary>
    <h4 style="color: #f0d20a;font-size: 20px;margin-left: 100px;">Version Control Basics<br>
        Branching and Merging<br>
        Pull Requests <br>Git Workflows(Gitflow) <br>
        Conflict Resolution <br>
        Github Collaboration <br>
        CI/CD with Github Actions
    </h4>
</details> <br>
<hr style="width: 1150px;">
<details> 
    <summary style="color: #f0d20a;font-size: 40px;margin-left: 100px;cursor: pointer;">DevOps and Deployment</summary>
    <h4 style="color: #f0d20a;font-size: 20px;margin-left: 100px;">Node.js Delpoyment(Heroku,AWS)<br>
        CI/CD Pipelines <br>
        Doker <br>
        Containerization <br>
        Versioning <br>
        Load Balancing
    </h4>
</details> <br>
<hr style="width: 1150px;">
<details> 
    <summary style="color: #f0d20a;font-size: 40px;margin-left: 100px;cursor: pointer;">Additional Topics</summary>
    <h4 style="color: #f0d20a;font-size: 20px;margin-left: 100px;">Operating Systems<br>
        Computer Network<br>
        SEO Principles<br>
        GSAP Animations<br>
        Framer Motions<br>
        AI Tools (ChatGPT, Github Copilot) <br>
        Resume Building <br>
        Interview Preparation <br>
        Mock Interview
    </h4>
</details> <br>
<hr style="width: 1150px;">
    <section id="footer">
        <div class="top">
          <div class="footer-section">
            <big><big><big><big><big>🐯</big></big></big></big></big>
            <p style="color: white;">Let’s connect with our socials</p>
            <div class="socials">
              <a target="_blank" href="https://www.instagram.com/akashnutakki"><i style="font-size: 30px;filter: brightness(10px);" class="fa-brands fa-instagram"></i></a>
              <a target="_blank" href="https://in.linkedin.com/in/akash-nutakki"><i style="font-size: 30px;filter: brightness(10px);" class="fa-brands fa-linkedin"></i></a>
              <a target="_blank" href="https://discord.gg/D23JkFqrgz"><i style="font-size: 30px;filter: brightness(10px);"  class="fa-brands fa-discord"></i></a>
              <a target="_blank" href="https://www.youtube.com/@Akash.n2611"><i style="font-size: 30px;filter: brightness(10px);"  class="fa-brands fa-youtube"></i></a>
              <a target="_blank" href="https://x.com/AkashNutakki"><i style="font-size: 30px;filter: brightness(10px);"  class="fa-brands fa-twitter"></i></a>
            </div>
          </div>
          <div class="footer-section">
            <h4 style="color: white;" id="company">
              COMPANY
            </h4>
            <div class="options">
              <a style="color: aqua;" target="_blank" href="/aboutUs">About Us</a> <br> 
              <a style="color: aqua;" href="mailto:akash.n4243@gmail.com">Support</a> <br>
              <a style="color: aqua;" target="_blank" href="/terms-and-conditions/Terms_and_Conditions.pdf">Privacy Policy</a> <br>
              <a style="color: aqua;" target="_blank" href="/terms-and-conditions/Terms_and_Conditions.pdf">Terms and Condition</a> <br>
              <a style="color: aqua;" target="_blank" href="/Pricing&amp;Refund-Policy/Pricing-and-Refund_policy.pdf">Pricing and Refund</a> <br>
              <a style="color: aqua;" target="_blank" href="/hire">Hire From Us</a> <br>
              <a style="color: aqua;" target="_blank" href="https://ik.imagekit.io/sheryians/Bug_8EBE0pzVa.pdf">Bug Bounty</a> <br>
            </div>
          </div>
          <div class="footer-section">
            <h4 style="color: white;" id="community">COMMUNITY</h4>
            <div class="options">
              <a style="color: aqua;" target="_blank" href="https://www.instagram.com/akashnutakki">Inertia</a> <br>
              <a style="color: aqua;" target="_blank" href="https://discord.gg/D23JkFqrgz">Discord</a> <br>
            </div>
          </div>
          <div class="footer-section">
            <h4 style="color: white;" id="getintouch">Get In Touch</h4>
      
            <div class="options">
              <a style="color: aqua;" href="tel:+918328600351">+91 8328600351,</a> <br>
              <a style="color: aqua;" href="tel:+919515201814">+91 9515201814</a> <br>
              <a style="color: aqua;" href="mailto:akash.n4243@gmail.com">akash.n4243@gmail.com</a> <br>
              <a style="color: aqua;" target="_blank" href="https://www.google.com/maps/place/Sheryians+Coding+School/@23.2512609,77.4627502,17z/data=!3m1!4b1!4m6!3m5!1s0x397c43977890a98d:0x928a948dc6de732e!8m2!3d23.251256!4d77.4653251!16s%2Fg%2F11gvy2g2z8">137/11, K.P.H.B Colony,Kukatpally,Hyderabad,
                Telangana(TS), 500085</a> <br>
            </div>  
          </div>
        </div> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>  <hr style="width: 1150px;">
        <div class="bottom">
          <h5 style="text-align: center;">Copyright © 2024 Akash Pvt. Ltd. <br> All Rights Reserved.</h5>
        </div>
      </section>
{% endblock body %}
    
{% block title %}
🐯 Boot-Camp
{% endblock title %}